<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="samurl" value="https://sam.gofrugal.com/call_center/check.php" />
    <add key="time" value="2" />
  </appSettings>
</configuration>
